<div class="field">
  <label>Aspect</label>
  <select name="system.details.aspect">
    <option value="">— Select Aspect —</option>
    {{#each raceData.scionAspects as |label key|}}
      <option value="{{key}}" {{#if (eq ../system.details.aspect key)}}selected{{/if}}>
        {{label}}
      </option>
    {{/each}}
  </select>
</div>
