<div class="field">
  <label>Scion Aspect</label>
  <select name="system.details.scionAspect" data-dtype="String">
    <option value="">— None —</option>
    {{selectOptions config.scionAspects selected=system.details.scionAspect}}
  </select>
</div>
