<div class="field aspect-field">
  <label>Scion Aspect</label>
  <select name="system.details.scionAspect" data-dtype="String">
    {{#if config.scionAspects}}
      {{selectOptions config.scionAspects selected=system.details.scionAspect}}
    {{else}}
      <option value="">No Aspects Defined</option>
    {{/if}}
  </select>
</div>
