<div class="field background-field">
  <label>Background</label>
  <select name="system.details.background" data-dtype="String">
    {{selectOptions availableBackgrounds selected=system.details.background}}
  </select>
</div>
