{{!-- templates/actor/parts/drops/clandrop.hbs --}}
<div class="field clan-field">
  <label>Clan</label>
  <select name="system.details.clan" data-dtype="String">
    {{selectOptions config.draconianClans selected=system.details.clan blank="Select a clan"}}
  </select>
</div>
