<div class="field clan-field">
  <label>Draconian Clan</label>
  <select name="system.details.draconianClan" data-dtype="String">
    {{#if config.draconianClans}}
      {{selectOptions config.draconianClans selected=system.details.draconianClan}}
    {{else}}
      <option value="">No Clans Defined</option>
    {{/if}}
  </select>
</div>
