<div class="field">
  <label>Draconian Clan</label>
  <select name="system.details.draconianClan" data-dtype="String">
    <option value="">— None —</option>
    {{selectOptions config.draconianClans selected=system.details.draconianClan}}
  </select>
</div>
