{{!-- templates/actor/parts/drops/markpurpose.hbs --}}

<div class="field mark-purpose-field">
  <label>Mark of Purpose</label>

  <select name="system.details.markOfPurpose" data-dtype="String">
    {{#if config.markOfPurpose}}
      {{selectOptions config.markOfPurpose selected=system.details.markOfPurpose}}
    {{else}}
      <option value="">-- Marks of Purpose not loaded --</option>
    {{/if}}
  </select>
</div>
