<div class="field purpose-field">
  <label>Mark of Purpose</label>
  <select name="system.details.purpose" data-dtype="String">
    {{#if config.marksOfPurpose}}
      {{selectOptions config.marksOfPurpose selected=system.details.purpose}}
    {{else}}
      <option value="">No Marks of Purpose Defined</option>
    {{/if}}
  </select>
</div>
