{{!-- Race dropdown partial --}}

<div class="field race-field">
  <label>Race</label>
  <select name="system.details.race" data-dtype="String">
    {{selectOptions config.races selected=system.details.race}}
  </select>
</div>
