<div class="field rank-field">
  <label>Rank</label>
  <select name="system.details.rank" data-dtype="String">
    {{#if config.ranks}}
      {{selectOptions config.ranks selected=system.details.rank}}
    {{else}}
      <option value="">No Ranks Defined</option>
    {{/if}}
  </select>
</div>
