{{!-- templates/actor/parts/drops/tribedrop.hbs --}}

<div class="field tribe-field">
  <label>Mythrian Tribe</label>
  <select name="system.details.mythrianTribe" data-dtype="String">
    {{selectOptions raceData.mythrianTribes selected=system.details.mythrianTribe}}
  </select>
</div>
