<div class="field tribe-field">
  <label>Mythrian Tribe</label>
  <select name="system.details.mythrianTribe" data-dtype="String">
    {{#if config.mythrianTribes}}
      {{selectOptions config.mythrianTribes selected=system.details.mythrianTribe}}
    {{else}}
      <option value="">No Tribes Defined</option>
    {{/if}}
  </select>
</div>
