<select name="system.details.effect.roll.modAttribute" data-dtype="String">
  <option value="">-- Attribute Mod --</option>
  {{selectOptions config.abilityModAttributes selected=system.details.effect.roll.modAttribute}}
</select>
