<select name="system.details.sourceType" data-dtype="String">
  <option value="">-- Source Type --</option>
  {{selectOptions config.abilitySourceTypes selected=system.details.sourceType}}
</select>

