<select name="system.details.rank" data-dtype="String">
  <option value="">-- Ability Rank --</option>
  {{#if config.abilityRanks}}
    {{selectOptions config.abilityRanks selected=system.details.rank}}
  {{else}}
    <option value="">No Ability Ranks Defined</option>
  {{/if}}
</select>
