<select name="system.details.effect.roll.diceBase" data-dtype="Number">
  <option value="">-- # of Dice --</option>
  {{selectOptions config.abilityDiceBase selected=system.details.effect.roll.diceBase}}
</select>
