<select name="system.details.currentRank" data-dtype="String">
  <option value="">-- Current Ability Rank --</option>
  {{selectOptions config.abilityRanks selected=system.details.currentRank}}
</select>
