<select name="system.details.effect.damageType" data-dtype="String">
  <option value="">-- Damage Type --</option>
  {{selectOptions config.abilityDamageTypes selected=system.details.effect.damageType}}
</select>

