<select name="system.details.effect.roll.dieType" data-dtype="String">
  <option value="">-- Die Type --</option>
  {{selectOptions config.abilityDieTypes selected=system.details.effect.roll.dieType}}
</select>
