<select name="system.details.actionType" data-dtype="String">
  <option value="">-- Action Type --</option>
  {{selectOptions config.abilityActionTypes selected=system.details.actionType}}
</select>

