<select name="system.details.scaling.mode" data-dtype="String">
  <option value="">-- Scaling Mode --</option>
  {{selectOptions config.abilityScalingModes selected=system.details.scaling.mode}}
</select>

