<select name="system.details.effect.type" data-dtype="String">
  <option value="">-- Effect Type --</option>
  {{selectOptions config.abilityEffectTypes selected=system.details.effect.type}}
</select>

