<select name="system.details.effect.resource" data-dtype="String">
  <option value="">-- Effect Resource --</option>
  {{selectOptions config.abilityEffectResources selected=system.details.effect.resource}}
</select>

