<select name="system.details.rankReq" data-dtype="String">
  <option value="">-- Min Character Rank --</option>
  {{#if config.abilityRanks}}
    {{selectOptions config.abilityRanks selected=system.details.rankReq}}
  {{else}}
    <option value="">No Ability Ranks Defined</option>
  {{/if}}
</select>

