{{!-- templates/actor/parts/astats.hbs --}}

<div class="astats-layout">

  {{!-- LEFT: Entire Attributes section --}}
  <div class="astats-left">

    <details class="attr-section" open>
      <summary>Attributes</summary>

      <div class="attr-block">

        <details class="attr-section" open>
          <summary>Body</summary>
          {{> "systems/marks-of-mezoria/templates/actor/parts/subparts/astats/body.hbs"}}
        </details>

        <details class="attr-section" open>
          <summary>Mind</summary>
          {{> "systems/marks-of-mezoria/templates/actor/parts/subparts/astats/mind.hbs"}}
        </details>

        <details class="attr-section" open>
          <summary>Soul</summary>
          {{> "systems/marks-of-mezoria/templates/actor/parts/subparts/astats/soul.hbs"}}
        </details>

      </div>
    </details>

  </div>

  {{!-- RIGHT: Status --}}
  <div class="astats-right">
    {{> "systems/marks-of-mezoria/templates/actor/parts/subparts/astats/status.hbs"}}
  </div>

</div>
