{{!-- templates/actor/parts/astats.hbs --}}

<section class="tab astats" data-tab="astats">

  {{!-- TOP ROW: Body / Mind / Soul in three columns --}}
  <div class="attr-row">
    {{> "systems/marks-of-mezoria/templates/actor/parts/subparts/astats/body.hbs"}}
    {{> "systems/marks-of-mezoria/templates/actor/parts/subparts/astats/mind.hbs"}}
    {{> "systems/marks-of-mezoria/templates/actor/parts/subparts/astats/soul.hbs"}}
  </div>

  {{!-- Divider --}}
  <hr class="attr-divider" />

  {{!-- BOTTOM: Status, full width --}}
  <div class="status-row">
    {{> "systems/marks-of-mezoria/templates/actor/parts/subparts/astats/status.hbs"}}
  </div>

</section>
