<form class="marks-of-mezoria sheet actor" autocomplete="off">

  {{!-- HEADER --}}
  {{> "systems/marks-of-mezoria/templates/actor/parts/header.hbs"}}

  {{!-- TAB NAVIGATION --}}
  <nav class="sheet-tabs" data-group="primary">
    <a class="item" data-tab="cinfo">Character Info</a>
    <a class="item" data-tab="astats">Attributes &amp; Status</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="abilities">Abilities</a>
  </nav>

  {{!-- TAB CONTENT AREA --}}
  <section class="sheet-body">

    {{!-- CHARACTER INFO TAB --}}
    <div class="tab" data-group="primary" data-tab="cinfo">
      {{> "systems/marks-of-mezoria/templates/actor/parts/cinfo.hbs"}}
    </div>

    {{!-- ATTRIBUTES & STATUS TAB --}}
    <div class="tab" data-group="primary" data-tab="astats">
      {{> "systems/marks-of-mezoria/templates/actor/parts/astats.hbs"}}
    </div>

    {{!-- SKILLS TAB --}}
    <div class="tab" data-group="primary" data-tab="skills">
      {{> "systems/marks-of-mezoria/templates/actor/parts/skills.hbs"}}
    </div>

    {{!-- ABILITIES TAB --}}
    <div class="tab" data-group="primary" data-tab="abilities">
      {{> "systems/marks-of-mezoria/templates/actor/parts/abilities.hbs"}}
    </div>

  </section>

</form>
