{{!-- templates/actor/parts/subparts/astats/body.hbs --}}

<div class="attr-block attr-body">

  <div class="field">
    <label>Body (Main)</label>
    <input type="number"
           name="system.attributes.body.value"
           value="{{system.attributes.body.value}}"
           data-dtype="Number" />
  </div>

  <div class="field">
    <label>Might</label>
    <input type="number"
           name="system.attributes.body.might"
           value="{{system.attributes.body.might}}"
           data-dtype="Number" />
  </div>

  <div class="field">
    <label>Swiftness</label>
    <input type="number"
           name="system.attributes.body.swiftness"
           value="{{system.attributes.body.swiftness}}"
           data-dtype="Number" />
  </div>

  <div class="field">
    <label>Endurance</label>
    <input type="number"
           name="system.attributes.body.endurance"
           value="{{system.attributes.body.endurance}}"
           data-dtype="Number" />
  </div>

</div>
