{{!-- templates/actor/parts/subparts/astats/mind.hbs --}}

<div class="attr-block attr-mind">

  <div class="field">
    <label>Mind (Main)</label>
    <input type="number"
           name="system.attributes.mind.value"
           value="{{system.attributes.mind.value}}"
           data-dtype="Number" />
  </div>

</div>
