{{!-- templates/actor/parts/subparts/astats/mind.hbs --}}

<div class="attr-block attr-mind">

  <div class="field">
    <label>Mind (Main)</label>
    <input type="number"
           name="system.attributes.mind.value"
           value="{{system.attributes.mind.value}}"
           data-dtype="Number" />
  </div>

  <div class="field">
    <label>Insight</label>
    <input type="number"
           name="system.attributes.mind.insight"
           value="{{system.attributes.mind.insight}}"
           data-dtype="Number" />
  </div>

  <div class="field">
    <label>Focus</label>
    <input type="number"
           name="system.attributes.mind.focus"
           value="{{system.attributes.mind.focus}}"
           data-dtype="Number" />
  </div>

  <div class="field">
    <label>Willpower</label>
    <input type="number"
           name="system.attributes.mind.willpower"
           value="{{system.attributes.mind.willpower}}"
           data-dtype="Number" />
  </div>

</div>
