{{!-- templates/actor/parts/subparts/astats/soul.hbs --}}

<div class="attr-block attr-soul">

  <div class="field">
    <label>Soul (Main)</label>
    <input type="number"
           name="system.attributes.soul.value"
           value="{{system.attributes.soul.value}}"
           data-dtype="Number" />
  </div>

</div>
