{{!-- templates/actor/parts/subparts/astats/soul.hbs --}}

<div class="attr-block attr-soul">

  <div class="field">
    <label>Soul (Main)</label>
    <input type="number"
           name="system.attributes.soul.value"
           value="{{system.attributes.soul.value}}"
           data-dtype="Number" />
  </div>

  <div class="field">
    <label>Presence</label>
    <input type="number"
           name="system.attributes.soul.presence"
           value="{{system.attributes.soul.presence}}"
           data-dtype="Number" />
  </div>

  <div class="field">
    <label>Grace</label>
    <input type="number"
           name="system.attributes.soul.grace"
           value="{{system.attributes.soul.grace}}"
           data-dtype="Number" />
  </div>

  <div class="field">
    <label>Resolve</label>
    <input type="number"
           name="system.attributes.soul.resolve"
           value="{{system.attributes.soul.resolve}}"
           data-dtype="Number" />
  </div>

</div>
