<form class="your-system sheet actor" autocomplete="off">
  <header class="sheet-header">
    <h1><input name="name" type="text" value="{{actor.name}}" /></h1>
  </header>

  <section class="sheet-body">
    <p>Minimal Actor Sheet Loaded</p>
  </section>
</form>
